<div class="entrance-text">
  <h1>Please complete the form to create your profile</h1>
</div>

<%= form_for(@user) do |f| %>
  <div class="row">
    <form class="col s12 m12 l12">
      <div class="row">
        <div class="col s1 m2 l4"></div>
        <div class="input-field col s10 m8 l4">
          <%= f.text_field :name %>
          <%= f.label :full_name %>
        </div>
      </div>

      <div class="row">
        <div class="col s1 m2 l4"></div>
          <div class="input-field col s10 m8 l4">
          <%= f.select :gender, [['male', 'Male'],['female', 'Female']] %>
          <%= f.label :gender %>
          </div>
      </div>
      <div class="row">
        <div class="col s1 m2 l4"></div>
          <div class="input-field col s10 m8 l4">
          <%= f.number_field :age, min: 1%>
          <%= f.label :age %>
          </div>
      </div>
       <div class="row">
        <div class="col s1 m2 l4"></div>
          <div class="input-field col s10 m8 l4">
          <%= f.label :profession %>
          <%= f.text_field :profession %>
          </div>
        </div>
       </div>
      <div class="row">
        <div class="col s1 m2 l4"></div>
          <div class="input-field col s10 m8 l4">
          <%= f.label :marital_status %>
          <%= f.text_field :marital_status %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s1 m2 l4"></div>
          <div class="input-field col s10 m8 l4">
          <%= f.label(:immigrant, 'My current immigration status' ) %>
          <%= f.text_field :immigrant %>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col s1 m2 l4"></div>
        <div class="col s9 m9 l8">
          <p>
            <%= f.check_box :hiv %>
            <%= f.label(:hiv, 'I am HIV positive' ) %>
          </p>
        </div>
       </div>
      <div class="row">
        <div class="col s1 m2 l4"></div>
        <div class="col s9 m9 l8">
          <p>
            <%= f.check_box :lgbt %>
            <%= f.label(:lgbt, 'I am a member of LGBTQ' ) %>
          </p>
        </div>
       </div>
      <div class="row">
        <div class="col s1 m2 l4"></div>
        <div class="col s9 m9 l8">
          <p>
            <%= f.check_box :veteran %>
            <%= f.label(:veteran, 'I am a veteran' ) %>
          </p>
        </div>
       </div>
     <div class="row">
       <div class="col s1 m2 l4"></div>
        <div class="file-field input-field col s10 m8 l4">
          <p>Add a profile picture</p>
          <div class="btn">
            <span>Upload</span>
            <%= f.file_field :picture %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text"/>
         </div>
        </div>
       </div>
       <div class="filling-div"></div>
      <div class="center-btn">
        <a class="waves-effect waves-light btn"><%= f.submit "Submit" %></a>
      </div>
    </form>
  </div>
<% end %>
<div class="filling-div">

</div>

<div class="footer-profile-page">
  <footer>© 2017 haven.to. All rights reserved.</footer>
</div>