<h1>Complete your profile</h1>

<div>
  <div>
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.select :gender, [['male', 'Male'],['female', 'Female']] %>
      <%= f.label :gender %>
      <br>
      <%= f.label :age %>
      <%= f.number_field :age, min: 1%>
      <br>
      <%= f.label :profession %>
      <%= f.text_field :profession %>
      <br>
      <%= f.label :marital_status %>
      <%= f.text_field :marital_status %>
      <br>
      <%= f.check_box :hiv %>
      <%= f.label(:hiv, 'I am HIV positive' ) %>
      <br>
      <%= f.check_box :lgbt %>
      <%= f.label(:lgbt, 'I am a member of LGBTQ' ) %>
      <br>
      <%= f.check_box :veteran %>
      <%= f.label(:veteran, 'I am a veteran' ) %>
      <br>
      <%= f.text_field :immigrant %>
      <%= f.label(:immigrant, 'My current immigration status' ) %>
      <br>
      <%= f.submit "Save changes" %>
    <% end %>
  </div>
</div>