<div class="row">
  <div class="col l3 m2"></div>
  <div class="col s12 l6 m9">
    <div class="card">
      <div class="card-image">
        <img src="/uploads/<%= @user.picture %>">
        <span class="card-title"><%= @user.name %></span>
        <a href="<%= current_user.id %>/edit" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
      </div>
      <div class="card-content">
        <p>Age: <%= @user.age %></p>
        <p>Gender: <%= @user.gender %></p>
        <p>Marital Status: <%= @user.marital_status %></p>
        <p>Immigration Status: <%= @user.immigrant %></p>
      </div>
      <div class="card-action">
        <a class='left' href="<%= current_user.id %>/histories/new">Situation Report</a>
        <a class='right' href="<%= current_user.id %>/reports/new">Status Update</a>
      </div>
    </div>
  </div>
</div>
