<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="/uploads/<%= @user.picture %>">
        <span class="card-title"><%= @user.name %></span>
        <%= link_to "edit" edit_user_path(user_id: current_user.id) :class =>  "btn-floating halfway-fab waves-effect waves-light red" %>
      </div>
      <div class="card-content">
        <p><%= @user.age %></p>
      </div>
      <div class="card-action">
        <a class='left' href="#"><%= link_to "Vulnerability Survey", new_user_history_path(user_id: current_user.id) %></a>
        <a clas='right'href="#"><%= link_to 'Accuity Survey', new_user_report_path(user_id: current_user.id) %></a>
      </div>
    </div>
  </div>
</div>
