<p id="notice"><%= notice %></p>

<h1>History</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>stolen</th>
      <th>friends</th>
      <th>clothes</th>
      <th>eaten</th>
      <th>trash</th>
      <th>new_conditions</th>
      <th>health_condition</th>
      <th>health_condition_note</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.user_id %></td>
        <td><%= history.stolen %></td>
        <td><%= history.friends %></td>
        <td><%= history.clothes %></td>
        <td><%= history.eaten %></td>
        <td><%= history.trash %></td>
        <td><%= history.new_conditions %></td>
        <td><%= history.health_condition %></td>
        <td><%= history.health_condition_note %></td>
        <td><%= link_to 'show', user_history_path(history.user_id, history.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History', new_user_history_path %>

<!-- 
:stolen, 
       :friends,
       :clothes,
       :eaten,
       :trash,
       :new_conditions,
       :health_condition,
       :health_condition_note,
       :appointments,
       :depressed,
       :mental_health,
       :mental_health_note,
       :new_habit,
       :new_habit_note,
       :AA_NA,
       :social_circle,
       :communicate_needs,
       :cooperate,
       :created_at, 
       :housing_situation,
       :comments, -->