<h1>New Report</h1>

<%= form_for [current_user,  @report], :html => {:multipart => true} do |f| %>
  Attending meetings : <%= f.check_box :meetings %><br />
  Been Arrested? : <%= f.check_box :arrested %><br />
  Been taking medication? : <%= f.check_box :medicated %><br />
  Sleep indoors? : <%= f.check_box :indoors %><br />
  Recently bathed? : <%= f.check_box :bathed %><br />
  Recently taken drugs? : <%= f.check_box :drugs %><br />
  Have you been in a fight? : <%= f.check_box :fights %><br />
  Has EMS visited you? : <%= f.check_box :ems %><br />
  Weeks homeless? : <%= f.text_field :weeks_homeless %><br />
Current Sentiment? : <%= f.select :sentiment, [['Great','5'],['Good','4'],['Fair','3'],['Bad','2'],['Horrible','1']]  %><br />
  Comments : <%= f.text_area :notes %><br />
  <%= f.submit %>
<% end %>
<%= link_to 'Back', user_reports_path %>