<!-- <% if current_user %>
  Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %> | <%= link_to 'Admin', '/admin' %> | <%= link_to 'Report', user_reports_path(user_id: User.find(session[:user_id])) %> | <%= link_to "Profile", edit_user_path(id: User.find(session[:user_id])) %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> | <%= link_to 'Admin', '/admin' %>
<% end %> -->

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Haven.io</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
      <li>Signed in as <%= current_user.email %></li>
      <li><%= link_to 'Admin', '/admin' %></li>
      <li><%= link_to "Profile", edit_user_path(id: current_user.id) %></li>
      <li><%= link_to 'Report', user_reports_path(user_id: current_user.id) %></li>
      <li><%= link_to "Logout", '/logout' %></li>
      <% else %>
      <li><%= link_to 'Login', '/login' %></li>
      <li><%= link_to 'Signup', '/signup' %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign up</a></li>
    </ul>
  </div>
</nav>

<% unless notice.nil? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% unless alert.nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
