<nav>
  <div class="nav-wrapper">
    <img href="/" src="http://i.magaimg.net/img/nv9.png"href="/" class="brand-logo" style="width:230px;height:60px;" >
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <% if current_user.admin %>
          <li class="user-avatar"><%=image_tag("/uploads/#{current_user.picture}", class:"circle responsive-img")%></li>
          <li><%= current_user.name %></li>
          <li class="menu-icon">
            <a class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons">view_headline</i></a>
            <ul id='dropdown1' class='dropdown-content'>
              <li><%= link_to 'Home', '/' %></li>
              <li><%= link_to 'Users', '/admin' %></li>
              <li><%= link_to 'Dashboard', '/admin/dashboard' %></li>
              <li><%= link_to "Logout", '/logout' %></li>
            </ul>
          </li>
        <% else %>
          <% if current_user.name && current_user.picture%>
          <li class="user-avatar"><%=image_tag("/uploads/#{current_user.picture}", class:"circle responsive-img")%></li>
          <li><%= current_user.name %> </li>
          <% else %>
          <li>Hi <%=current_user.email%></li>
          <%end%>
          <li class="menu-icon">
            <a class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons">view_headline</i></a>
            <ul id='dropdown1' class='dropdown-content'>
              <li><%= link_to 'Home', '/' %></li>
              <li><%= link_to "Profile", user_path(id: current_user.id) %></li>
              <li><%= link_to "Logout", '/logout' %></li>
            </ul>
          </li>
        <% end %>
      <% else %>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Login', '/login' %></li>
        <li><%= link_to 'Signup', '/signup' %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user %>
        <% if current_user.admin %>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'User Management', '/admin' %></li>
        <li><%= link_to 'Dashboard', '/admin/dashboard' %></li>
        <li><%= link_to "Logout", '/logout' %></li>
        <% else %>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to "Profile", user_path(id: current_user.id) %></li>
        <li><%= link_to "Logout", '/logout' %></li>
        <% end %>
      <% else %>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign up</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<% unless notice.nil? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% unless alert.nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
