<!DOCTYPE html>
<html>
  <head>
    <title>Haven.io</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/top_nav' %>

    <% unless notice.nil? %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if current_user %>
      Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %> | <%= link_to 'Admin', '/admin' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> | <%= link_to 'Admin', '/admin' %>
    <% end %>

    <%= yield %>
  </body>
</html>
